body{
  font-size: 16px;
  margin-top: 70px;
}

.navbar {
  background: #fff;
  border: none;
  font-family: Poppins;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  color: #000 !important;
}

#home img {
  width: 90%;
  margin-left: 60px;
}

#home .home-right {
  margin-top: 70px;
}

#home h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

#about {
  margin-top: 70px;
  padding: 50px;
  text-align: center;
  background: #ccc;
  font-family: 'Josefin Sans';
  font-size: 32px;
}

#about .customer {
  font-size: 20px;
  color: #666;
}

#info .info-right{
margin-top: 90px;
}

#info2 {
  margin: 20px 0 60px 0;
}

#contact {
  background: url('../img/image3.png');
  padding: 40px;
  color: #fff;
  border-top: 7px solid #000;
  border-bottom: 7px solid #000;
}

#footer {
  text-align: center;
  padding: 30px;
}